<style type="text/css">
	.message_hidden {
		visibility: hidden;
	}
</style>
<div class="row">
	<div class="col-xs-4 well people">
		<% @senders.each do |sender| %>
			<div class="row" class="record">
				<div class="col-xs-4">
					<%= cl_image_tag sender.avatar, alt: "user_avatar", class: "user_avatar" %>
				</div>
				<div class="col-xs-8">
					<%= link_to sender.name, user_channels_path(sender), method: :post %>
				</div>
			</div>
		<% end %>
		<% @receivers.each do |receiver| %>
			<div class="row" class="record">
				<div class="col-xs-4">
					<%= cl_image_tag receiver.avatar, alt: "user_avatar", class: "user_avatar" %>
				</div>
				<div class="col-xs-8">
					<%= link_to receiver.name, user_channels_path(receiver), method: :post %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-7 well">
		<div class="messenger">
			<h3><%= @other_user.name %></h3>
		</div>
		<div id="messages" class="messages">
			<% if @channel.messages.any? %>
				<%= render partial: "messages/message", collection: @channel.messages.order(:id).last(10), as: :message %>
			<% end %>
		</div>

		<%= render partial: "messages/message_form" %>
	</div>
</div>

<script type="text/javascript">
	create_send_message()
</script>