<% content_for :head do %>
  <div class="cover_photo">
  <% if current_user.cover_photo? %>
  	<%= cl_image_tag current_user.cover_photo, alt: "user_cover_photo" %>
  <% else %>
  	<%= cl_image_tag("/default_cover_photo.jpg", alt: "group_cover_photo") %>
  <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12 user_banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6 banner_details" align="right">
            <div class="row">
              <div class="col-sm-2 post_num_font">
                POSTS<br>
                <h6 class="post_num"><%= current_user.posts.count %></h6>
              </div>
              <div class="col-sm-2 post_num_font">
                FOLLOWERS<br>
                <h6 class="follower_count" "><%= current_user.followers.count %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="avatar">
        	<% if current_user.avatar? %>
          	<%= cl_image_tag current_user.avatar, alt: "user_avatar", class: "img-circle" %>
          <% else %>
          	<%= image_tag("/default_avatar.jpeg", alt: "group_avatar", class: "img-circle") %>
          <% end %>
        </div>
      </td>
      <td>
        <div class="avatar_name">
          <h3><%= current_user.name %></h3>
        </div>
      </td>
    </tr>
  </table>
<% end %>

<div align="center">
	<div>
		<%= form_for current_user do |f| %>
			<% if current_user.errors.any? %>
				<% current_user.errors.full_messages.each do |mess| %>
					<%= mess %>
				<% end %>
			<% end %>
			<div class="input-group input_group">
				<label class="col-lg-2">Name</label>
				<div class="col-lg-10">
					<%= f.text_field :name, required: true, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Avatar</label>
				<div class="col-lg-10">
					<%= f.file_field :avatar, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Cover photo</label>
				<div class="col-lg-10">
					<%= f.file_field :cover_photo, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Color</label>
				<div class="col-lg-10">
					<%= f.color_field :color, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Email</label>
				<div class="col-lg-10">
					<%= f.email_field :email, required: true, class: "form-control" %><br/><br/>
				</div>
			</div>
			<%= f.submit "Update Profile", class: "btn btn-primary update_profile" %>
		<% end %>
	</div>
</div>