<!DOCTYPE html>
<html>
  <head>
    <title>KinsSocial</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    	body {
    		background-color: <%= current_user.color if current_user %>;
    	}
    </style>
  </head>

  <body class="non_responsive">
	  <% if current_user %>
			<nav class="navbar navbar-default nav_bar navbar-fixed-top">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<div class="container-fluid">
				    <div class="navbar-header">
				    	<%= image_tag("/icon/brand.png", alt: "brand_icon") %>
				    </div>
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <div class="navbar-form navbar-left">
				      	<ul class="nav navbar-nav">
				      		<li><%= link_to "HOME", root_path %></li>
				      		<li><a href="">ALL PAGES</a></li>
				      		<li><a href="">SHORTCODES</a></li>
				      		<li><a href="">ALL ELEMENT</a></li>
				      	</ul>
				      	<div class="input-group">
					        <input type="text" class="form-control search_something" placeholder="Search for anything" />
				      	</div>
								<button type="button" class="btn btn-warning add_post_home">
				          <span class="glyphicon glyphicon-plus"></span> ADD POST
				        </button>
				      </div>
				      <div class="navbar-form navbar-right">
				      	<div class="btn-group">
								  <div data-toggle="dropdown">
								  	<a href="">
								  		<span class="num_of_notificcation pink_noti"><%= all_friend_request %></span>
								  		<span class="glyphicon glyphicon-user glyphicon_noti"></span>
								  	</a>
								  </div>
								  <ul class="dropdown-menu dropdown_menu">
									  <div class="container">
									  	<li>
									  		All requests
									  		<%= link_to "View all users" , users_path, class: "btn btn-primary" %>
									  	</li>
									  </div>
								  	<li role="separator" class="divider"></li>
										<% all_waiters.each do |waiter| %>
											<div class="row" class="record">
												<div class="col-xs-1"></div>
												<div class="col-xs-2">
													<%= cl_image_tag waiter.avatar, alt: "user_avatar", class: "user_avatar" %>
												</div>
												<div class="col-xs-4">
													<%= link_to waiter.name, user_path(waiter) %>	
												</div>
												<div class="col-xs-2">
													<%= link_to 'Accept', accept_path(waiter), method: :post, class: "btn btn-success" %>
												</div>
												<div class="col-xs-2">
													<%= link_to 'Deny', deny_path(waiter), method: :delete, class: "btn btn-danger" %>
												</div>
											</div>
										<% end %>
										<li><%= link_to "CHECK ALL FOLLOW REQUEST", friend_ships_path, class: "btn btn-info check_all_request" %></li>
								  </ul>
								</div>
								<div class="btn-group">
								  <div data-toggle="dropdown">
								  	<a href="">
								  		<span class="num_of_notificcation green_noti" "></span>
								  		<span class="glyphicon glyphicon-comment glyphicon_noti"></span>
								  	</a>
								  </div>
								  <ul class="dropdown-menu dropdown_menu">
										<div class="container">
									  	<li>
									  		<% if current_user.senders.any? || current_user.receivers.any? %>
									  			<%= link_to "View all messages" , user_channels_path(current_user.senders.first || current_user.receivers.first), method: :post, class: "btn btn-primary btn-sm" %>
									  			<%= link_to "Create messages group", new_channel_path, class: "btn btn-success btn-sm" %>
									  		<% end %>
									  	</li>
									  </div>
								  	<li role="separator" class="divider"></li>
								  </ul>
								</div>
				      	<div class="btn-group">
								  <div data-toggle="dropdown">
								  	<a href="">
								  		<span class="num_of_notificcation orange_noti"></span>
								  		<span class="glyphicon glyphicon-bell glyphicon_noti"></span>
								  	</a>
								  </div>
								  <ul class="dropdown-menu dropdown_menu">
										<div class="container">
									  	<li>All notifications</li>
									  </div>
								  	<li role="separator" class="divider"></li>
								  </ul>
								</div>
								<div class="btn-group">
								  <div data-toggle="dropdown">
								  	<a href="">
								  		<%= cl_image_tag current_user.avatar, alt: "my_avatar", class: "img-circle img_avatar" %>
								  	</a>
								  </div>
								  <ul class="dropdown-menu">
								  	<li>
								  		<%= link_to user_path(current_user) do %>
								  			<span class="glyphicon glyphicon-user"></span>
								  			My profile
							  			<% end %>
								  	</li>
								  	<li>
								  		<a href="">
								  			<span class="glyphicon glyphicon-folder-close"></span>
								  			Saved Articles
								  		</a>
								  	</li>
								  	<li>
								  		<%= link_to edit_user_path(current_user) do %>
								  			<span class="glyphicon glyphicon-pencil"></span>
								  			Edit profiles
								  		<% end %>
								  	</li>
										<li role="separator" class="divider"></li>
										<li>
								  		<a href="">
									  		<span class="glyphicon glyphicon-bell"></span>
									  		Notification settings
								  		</a>
								  	</li>
								  	<li>
								  		<a href="">
									  		<span class="glyphicon glyphicon-lock"></span>
									  		Change Password
								  		</a>
								  	</li>
										<li role="separator" class="divider"></li>
										<li>
								  		<a href="">
								  			<span class="glyphicon glyphicon-cog"></span>
								  			Settings
								  		</a>
								  	</li>
								  	<li>
								  		<a href="">
								  			<span class="glyphicon glyphicon-flag"></span>
								  			Private Policy
								  		</a>
								  	</li>
								  	<li>
								  		<a href="">
								  			<span class="glyphicon glyphicon-stats"></span>
								  			FAQ
								  		</a>
								  	</li>
								  	<li>
								  		<%= link_to destroy_user_session_path, :method => :delete do %>
								  			<span class="glyphicon glyphicon-off"></span>
								  			Log out
								  		<% end %>
								  	</li>
								  </ul>
								</div>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="col-xs-1"></div>
			</nav>
			<div class="virtual_nav"></div>
			<%= yield :head %>
			<div class="row">
				<div class="container">
					<div class="col-xs-3 well message_hidden">
				    <div class="well">
				      <p><a href="#">My Profile</a></p>
				      <%= image_tag( "", alt: "my_avatar", class: "img-circle img_avatar") %>
				    </div>
				    <div class="well">
				      <p><a href="#">Interests</a></p>
				      <p>
				        <span class="label label-default">namews</span>
				        <span class="label label-primary">W3Schools</span>
				        <span class="label label-success">Labels</span>
				        <span class="label label-info">Football</span>
				        <span class="label label-warning">Gaming</span>
				        <span class="label label-danger">Friends</span>
				      </p>
				    </div>
				    <div class="alert alert-success fade in">
				      <a href="" class="close" data-dismiss="alert" aria-label="close">×</a>
				      <p><strong>Ey!</strong></p>
				      People are looking at your profile. Find out who.
				    </div>
				    <p><a href="">Link</a></p>
				    <p><a href="">Link</a></p>
				    <p><a href="">Link</a></p>
				  </div>
				  <div class="col-xs-7">
					  <% if flash[:notice] %>
					  	<div class="alert-info" align="center">
					  		<%= flash[:notice] %>
					  	</div>
					  <% end %>
					  <div class="yield_content">
					  	<%= yield %>
					  </div>
				  </div>
				  <div class="col-xs-2 well message_hidden">
				    <div class="card">
				      <div class="card-body">
				        <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
				        <% for user in users do %>
					        <% if !current_user.is_following?(user) %>
					        	<p style="font-weight: bold; opacity: 0.85;" >
					          	<%= link_to user.name, user_path(user)%>
					          	<%= link_to "Follow", follow_path(user), method: :post, class: "btn btn-default btn-xs" %>
					          </p>
					        <% end %>
				        <% end %>
				      </div>
				    </div>
				      
				    <div class="card">
				      <div class="card-body">
				        <p style="opacity: 0.5; font-size: 90%;">
				        	© 2016 Flutter  About  Help  Terms  Privacy  Cookies  Ads Info  Brand  Blog  Status  Apps  Jobs  Advertise  Businesses  Media  Developers
				        </p>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		<% else %>
			<div class="container" align="center">
				<div class="alert-success">
					<% if notice %>
			  		<%= notice %>
			  	<% end %>
		  	</div>	
		  	<div class="alert-danger">
			  	<% if alert %>
			  		<%= alert %>
			  	<% end %>
		  	</div>
				<%= yield %>
			</div>
		<% end %>
	</body>
</html>
